@font-face {
  font-family: 'SignPainter';
  src:  url(fonts/SignPainter-HouseScript.ttf) format('truetype'),
}
html,body {
  height: 100%;
  background-image: url('../img/fondo-gtav.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.navegador {
  background-color: black;
  padding-left: 60px;
  padding-right: 60px;
}

.sin-margenes {
  margin: 0px;
  padding: 0px;
}

.auto-editado {
  background-color: white;
}

.navbar-brand{
  font-family: 'SignPainter';
}

.navbar-brand{
  font-family: 'SignPainter';
  font-size: 400%;
}
.navbar-default .navbar-brand{
  color: white;
}

.navbar-default{
  border-color: black;
  border-radius: 0px;
}