@font-face {
  font-family: 'SignPainter';
  src:  url('../fonts/SignPainter-HouseScript.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald';
  src:  url('../fonts/Oswald-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Font_Mayus'; /*a name to be used later*/
    src: url('../fonts/Bebas.ttf'); /*URL to font*/
    font-weight: bold;
}
@font-face{
  font-family: 'ChaletLondon';
  src: url('../fonts/ChaletLondonNineteenSixty.ttf');
}
html,body {
  height: 100%;
  background-image: url('../img/fondo-gtav.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  background-color: black;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  border-radius: 0;
  border-color: black;

  /*position: fixed; /* Set the navbar to fixed position */
  /*top: 0; /* Position the navbar at the top of the page */
  /*width: 100%; /* Full width */
}

.navbar-default .navbar-brand{
  color: white;
}

.nav{
  font-family: 'Oswald';
  font-size: 120%;
}
.nav>li>a{
  color:white; /*XXX Como evito que el javascript de boostrap me pise el css*/
}

.navbar-default{
  border-color: black;
  border-radius: 0px;
}

.panel-default{
  border-radius: 0px;
}
/*.list-group-item{
  background-color: black;
  color: white;
}*/

.sin-margenes {
  margin: 0px;
  padding: 0px;
}

.main-content {
  padding-top: 65px;
}

.auto-editado {
  background-color: white;
}

.marca_auto {
  font-family: SignPainter;
  font-size: 400%;
  padding: 20px;
}

.carousel{
  margin: 50px;
}

.mayus {
  font-family: Font_Mayus;
}
.btn-group-vertical {
  width:100%;
}
.btn-personalizar{
  text-align: left;
  font-family: ChaletLondon;
}
.footer-bottom{
  color: white;
  background-color: black;
  opacity: 0.2;
}